{% extends "dashboard.html" %}        
       {% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Anexar promocion  <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <form  action="{% url 'add_promotion' %}" method="POST">
                      {% csrf_token %}
                    <h2>Nombre:</h2><input id="name" class="form-control"  value="" required="required" type="text" name="name">
                    <h2>Numero de referidos:</h2>
                    <input id="number_ref" name="number_ref"class="knob" data-width="100" data-height="110" data-displayPrevious=true data-fgColor="#26B99A" data-skin="tron" data-thickness=".2" value="3">
                    <div class="btn-group">
                      <button class="btn btn-secondary" type="submit">Asignar</button>
                     </div>
                    </form>
                  <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="  invoice-header">
                          <h1></h1>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="x_content">

                        <div class="tab-content" id="myTabContent">
                            <div class="table-responsive">
                              <table id="table_benefits" class="display" style="width:100%">
                                <thead>
                                  <tr class="headings">
                                    <th>Id</th>
                                    <th class="column-title">Nombre </th>
                                    <th class="column-title">Descripcion </th>
                                    <th class="column-title">Es activo </th>
                                    
                                  </tr>
                                </thead>
                
                                <tbody>
                                  {% for b in benefits %}
                                  <tr class="even pointer">
                                    <td class=" ">{{b.id}}</td>
                                    <td class=" ">{{b.name}}</td>
                                    <td class=" ">{{b.description}}</td>
                                    <td class=" ">{% if m.is_active %} <i class="fa fa-check-square-o"></i>{% endif %}</td>
                                    
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          
                        </div>
                      </div>                  
                      <!-- Table row -->
                      <div class="row">
                        
                      </div>
                      <!-- /.row -->

                      
                      <!-- this row will not appear when printing -->
                      
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
        {% block documentready %} 
        <script type="text/javascript">
        $(document).ready(function() {
          var arreglo = [];
          var table = $('#table_benefits').DataTable( {
              select: {
                    style: 'multi'
                }
          } );
          
          table
              .on( 'select', function ( e, dt, type, indexes ) {
                  var rowData = table.rows( { selected: true } ).data().toArray();
                  var arreglo = [];
                  rowData.forEach(element => arreglo.push(element[0]));
                  $('#seleccion').attr('value',(arreglo.join('*')));
              } )
              .on( 'deselect', function ( e, dt, type, indexes ) {
                var rowData = table.rows( { selected: true } ).data().toArray();
                  var arreglo = [];
                  rowData.forEach(element => arreglo.push(element[0]));
                  $('#seleccion').val(arreglo.join('*'));
              } );
        } );
        </script>
        {% endblock %}
        