<html>
<head>
  <title>Redvilagro|Membresia</title>
<style>
  body {padding: 20px;
      background-color: #094293;}
    @page {
        size: 4in 6in; 
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 5pt; width: 512pt; top: 10pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 5pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <!-- Content for Static Frame 'footer_frame' -->
    <div id="header_content">REDVILAGRO</div>
    <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-6 mr-auto">
        <h1>REDVILAGRO</h1>
        <h1>{{member.user.first_name}} {{member.user.last_name}}</h1>
        <p class="mb-5">{{member.user.email}}</p>
        <div>
          <p class="mb-5">{{promotion.name}}</p>
        </div>
       </div>
    <div>
    <img src="{{codigo_qr}}" alt=""  class="center">
          
             
    <div id="footer_content">(c) - page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>

    <!-- HTML Content -->
    
</body>
</html>
