{% extends "dashboard.html" %}        
        {% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Beneficios</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                  
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="clearfix"></div>
                      {% for p in benefits %}
                      <div class="col-md-4 col-sm-4  profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>Beneficio No.:{{p.id}} </i></h4>
                            <div class="left col-md-7 col-sm-7">
                              <h2>{{p.name}} </h2>
                              <p><strong>Descripcion: </strong> {{p.description}}  </p>
              
                            </div>
                            <div class="right col-md-5 col-sm-5 text-center">
                              <!--<img src="images/img.jpg" alt="" class="img-circle img-fluid">-->
                            </div>
                          </div>
                          <div class=" profile-bottom text-center">
                            <div class=" col-sm-6 emphasis">
                              <!--<p class="ratings">
                                <a>4.0</a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star-o"></span></a>
                              </p>-->
                            </div>
                            <div class=" col-sm-6 emphasis">
                                <div class="buttons">
                                <a class="btn btn-success btn-sm" href="{%url 'update_benefit' p.id %} " role="button"><i class="fa fa-edit"> </i> Editar</a>
                                </div>
                
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
        