{% extends "dashboard.html" %}        
{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        <div class='col-sm-6'>
            
            Fecha de Corte
                <div class="form-group">
                    <div class='input-group date' id='myDatepicker2'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                           <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
        </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
</div>
{% endblock %}

{% block documentready %}
    <script type="text/javascript">
    $(document).ready( function () {
    $('#myDatepicker2').datetimepicker({
        format: 'DD/MM/YYYY'
    });
    {% if titulo %}
    (new PNotify({
      title: '{{titulo}}',
      text: '{{mensaje}}',
      type: 'info',
      styling: 'bootstrap3'
    }));
    {% endif %}
    {% if error %}
    (new PNotify({
      title: '{{error}}',
      text: '{{mensaje}}',
      type: 'error',
      styling: 'bootstrap3'
    }));
    {% endif %}
    $('#table_id').DataTable(
        { 
          language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
              }
        }
      );
    } );
    </script>
  {% endblock %}
 
