{% load static %}
{% load qr_code %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Redvilagro|Membership </title>

    <!-- Bootstrap -->
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="{% static "vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static "vendors/jqvmap/dist/jqvmap.min.css" %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="{% static "vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" %} rel="stylesheet">
    
    <!-- Custom Theme Style -->
    <link href="{% static "build/css/custom.min.css" %}" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="{% static "DataTables/datatables.min.css" %}"/>-->
    <link rel="stylesheet" type="text/css" href="{% static "DataTables/css/dataTables.jqueryui.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "DataTables/css/select.dataTables.min.css" %}"/>
    <link href="{% static "vendors/ion.rangeSlider/css/ion.rangeSlider.css" %}" rel="stylesheet">
    <link href="{% static "vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
    <script src="{% static "js/jquery.sticky.js" %}"></script>
  
    
    <script src="{% static "js/main.js" %}"></script>
    
    <!-- Bootstrap -->
  <script src="{% static "vendors/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

  <!-- PNotify -->
  <link href="{% static "vendors/pnotify/dist/pnotify.css" %}" rel="stylesheet">
  <link href="{% static "vendors/pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
  <link href="{% static "vendors/pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">

<!-- PNotify -->
<script src="{% static "vendors/pnotify/dist/pnotify.js" %}"></script>
<script src="{% static "vendors/pnotify/dist/pnotify.buttons.js" %}"></script>
<script src="{% static "vendors/pnotify/dist/pnotify.nonblock.js" %}"></script>

    {% block encabezado %}
    {% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'user_staff' %}" class="site_title"><i class="fa fa-paw"></i> <span>Redvilagro</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{member.user.first_name}} {{member.user.last_name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="{% url 'user_staff' %}"><i class="fa fa-user"></i> Membresia </a></li>
                  <li><a href="{% url 'cutsdate' %}"><i class="fa fa-user"></i> Fechas de corte </a></li>
                  <li><a href="{% url 'promotions' %}"><i class="fa fa-user"></i> Promociones </a></li>
                  <li><a href="{% url 'benefits' %}"><i class="fa fa-laptop"></i> Beneficios </a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    {{user}}
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="javascript:;"> Perfil</a>
                    <a class="dropdown-item"  href="{% url "user_logout" %}"><i class="fa fa-sign-out pull-right"></i> Cerrar sesion</a>
                  </div>
                </li>

                <!--<li role="presentation" class="nav-item dropdown open">
                  <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <div class="text-center">
                        <a class="dropdown-item">
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>-->
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}
        
        <div class="right_col" role="main">
          <div class="row">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                </div>
                <div class="count">{{members.count}}</div>
  
                <h3>Total en lista</h3>
                <p><a href="{% url 'add_member' %}" class="btn btn-secondary btn-sm">Anexar nuevo</a></p>
              </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-comments-o"></i>
                </div>
                <div class="count">{{members_active.count}}</div>
  
                <h3>Integrantes activos</h3>
                <p>Verificados</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                </div>
                <div class="count">{{number_is_staff}}</div>
  
                <h3>Administradores</h3>
                <p><a href="{% url 'add_admin' %}" class="btn btn-secondary btn-sm">Ir a</a></p>
              </div>
            </div>
          </div>
  
          <!-- /top tiles -->
          <div class="row">
            <div class="table-responsive">
              <table id="table_id" class="display" style="width:100%">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Integrante </th>
                    <th class="column-title">Promocion </th>
                    <th class="column-title">Referidos </th>
                    <th class="column-title">Activos </th>
                    <th class="column-title">Inversion </th>
                    <th class="column-title">Verificado </th>
                    <th class="column-title">Referido por </th>
                    <th class="column-title">Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  {% for m in members %}
                  <tr class="even pointer">
                    <!--<td class=" ">{{m.id}}</td>-->
                    <td class=" ">{{m.user.last_name}} {{m.user.first_name}}</td>
                    <td class=" ">{{m.promotion.name}}</td>
                    <td class=" ">{{m.referral_counter}}</td>
                    <td class=" ">{{m.referral_activies}}</td>
                    <td class=" ">{{m.inversion}}</td>
                    <td class=" ">{% if m.is_verify %} <i class="fa fa-check-square-o"></i>{% endif %}</td>
                    <td class="a-right a-right ">{{ m.referraled_by.user.last_name}} {{ m.referraled_by.user.first_name}}</td>
                    <td><a href="{% url 'integrante' m.id %}" class="btn btn-secondary btn-sm">Editar</a></td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
          <br />          
        </div>
        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by Colorlib
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap -->
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "vendors/fastclick/lib/fastclick.js" %}"></script>
    <!-- NProgress -->
    <script src="{% static "vendors/nprogress/nprogress.js" %}"></script>
    <!-- Chart.js -->
    <script src="{% static "vendors/Chart.js/dist/Chart.min.js" %}"></script>
    <!-- gauge.js -->
    <script src="{% static "vendors/gauge.js/dist/gauge.min.js" %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static "vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}"></script>
    <!-- iCheck -->
    <script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
    <!-- Skycons -->
    <script src="{% static "vendors/skycons/skycons.js" %}"></script>
    <!-- Flot -->
    <script src="{% static "vendors/Flot/jquery.flot.js" %}"></script>
    <script src="{% static "vendors/Flot/jquery.flot.pie.js" %}"></script>
    <script src="{% static "vendors/Flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "vendors/Flot/jquery.flot.stack.js" %}"></script>
    <script src="{% static "vendors/Flot/jquery.flot.resize.js" %}"></script>
    <!-- Flot plugins -->
    <script src="{% static "vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}"></script>
    <script src="{% static "vendors/flot-spline/js/jquery.flot.spline.min.js" %}"></script>
    <script src="{% static "vendors/flot.curvedlines/curvedLines.js" %}"></script>
    <!-- DateJS -->
    <script src="{% static "vendors/DateJS/build/date.js" %}"></script>
    <!-- JQVMap -->
    <script src="{% static "vendors/jqvmap/dist/jquery.vmap.js" %}"></script>
    <script src="{% static "vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}"></script>
    <script src="{% static "vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static "vendors/moment/min/moment.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
    <!-- bootstrap-datetimepicker -->    
    <script src="{% static "vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static "build/js/custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"></script>
 
   <!-- PNotify -->
   <link href="{% static "vendors/pnotify/dist/pnotify.css" %}" rel="stylesheet">
   <link href="{% static "vendors/pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
   <link href="{% static "vendors/pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">

 <!-- PNotify -->
 <script src="{% static "vendors/pnotify/dist/pnotify.js" %}"></script>
 <script src="{% static "vendors/pnotify/dist/pnotify.buttons.js" %}"></script>
 <script src="{% static "vendors/pnotify/dist/pnotify.nonblock.js" %}"></script>
 <script type="text/javascript" src="{% static "DataTables/js/dataTables.select.min.js" %}"></script>
<!-- jQuery Knob -->
<script src="{% static "vendors/jquery-knob/dist/jquery.knob.min.js" %}"></script>

 {% block documentready %}
    <script type="text/javascript">
    $(document).ready( function () {
    {% if titulo %}
    (new PNotify({
      title: '{{titulo}}',
      text: '{{mensaje}}',
      type: 'info',
      styling: 'bootstrap3'
    }));
    {% endif %}
    {% if error %}
    (new PNotify({
      title: '{{error}}',
      text: '{{mensaje}}',
      type: 'error',
      styling: 'bootstrap3'
    }));
    {% endif %}
    $('#table_id').DataTable(
        { 
          language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
              }
        }
      );
    } );
    </script>
  {% endblock %}
  </body>
</html>
