{% extends "dashboard.html" %}
{% load qr_code %}
<!-- page content -->
{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">
          
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{user.email}}<small></small></h2>
        <img src="{% qr_url_from_text codigo_qr size="T"  error_correction="L" %}" alt={{codigo_qr}}>
        
        <!--<ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="#">Settings 1</a>
              </li>
              <li><a class="dropdown-item" href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>-->
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="demo-form2"  data-parsley-validate class="form-horizontal form-label-left" action="{% url 'update_member' id %}" method="POST">
          {% csrf_token %}
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nombre <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="text" id="first-name" name="first-name" value="{{member.user.first_name}}" required="required" class="form-control ">
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Apellido <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="text" id="last-name" name="last-name" value="{{member.user.last_name}}" required="required" class="form-control">
            </div>
          </div>
          <div class="item form-group">
            <label for="Email" class="col-form-label col-md-3 col-sm-3 label-align">Email</label>
            <div class="col-md-6 col-sm-6 ">
              <input id="email" class="form-control"  value="{{member.user.email}}" type="email" name="email" readonly>
            </div>
          </div>
          <div class="item form-group">
            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Verficado</label>
            <div class="col-md-6 col-sm-6 ">
            
            <div class="checkbox">
            <label>
              <input id="is_verify" type="checkbox" name="is_verify" class="flat" value="True" {% if member.is_verify %}  checked="checked"  {% endif %}> 
            </label>
            </div>
           </div>
          </div>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button class="btn btn-primary" type="reset">Cancelar</button>
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </div>

        </form>  
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-6 col-sm-6  ">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-bars"></i> Referidos <small></small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <!-- start accordion -->
      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        {% for r in referidos %}
        <div class="panel">
          
          <a class="panel-heading" role="tab" id="heading_{{r.id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{r.id}}" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">{{r.user.last_name}} {{r.user.first_name }}</h4>
          </a>
          <div id="collapse_{{r.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_{{r.id}}">
            <div class="panel-body">
              <p><strong>{{r.email}}</strong>
                <a href="{% url 'integrante' r.id %}" class="btn btn-primary mr-2 mb-2">Editar</a>
              </p>
              
              Activo: {% if r.is_verify %} <i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-times"></i>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <!-- end of accordion -->

      
    </div>
  </div>
</div>


<div class="col-md-6 col-sm-6  ">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-bars"></i> Beneficios <small></small></h2>
      
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <ul class="nav nav-tabs justify-content-end bar_tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile" aria-selected="false">Por atender</a>
        </li>
        
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                
                <th>Fecha</th>
                
              </tr>
            </thead>
            <tbody>
              {% for b in member_benefits%}
              <tr>
                <th scope="row">{{b.benefit.name}}</th>
                <td>{{b.benefit.description}}</td>
                <td>{{b.date}}</td>                
              </tr>
              {% endfor%}
            
            </tbody>
          </table>

          </div>
        <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table table-bordered">
            <thead>

              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                
              </tr>
            </thead>
            <tbody>
              {% for be in benefits %}
              <tr>
                <th scope="row">{{be.benefit.name}}</th>
                <td>{{be.benefit.description}}</td>
              </tr>
              {%endfor%}
              
            </tbody>
          </table>

          </div>
        
      </div>

    </div>
  </div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
{% endblock %}
<!-- /page content -->

        
