{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Redvilagro|Membership </title>

    <!-- Bootstrap -->
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static "vendors/animate.css/animate.min.css" %}" rel="stylesheet">

    <!-- PNotify -->
    <link href="{% static "vendors/pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static "vendors/pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static "vendors/pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
 
  <!-- Custom Theme Style -->
  <link href="{% static "build/css/custom.min.css" %}" rel="stylesheet">
  <!-- jQuery -->
  <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
  <!-- Bootstrap -->
  <script src="{% static "vendors/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
  <!-- FastClick -->
  <script src="{% static "vendors/fastclick/lib/fastclick.js" %}"></script>
  <!-- PNotify -->
  <script src="{% static "vendors/pnotify/dist/pnotify.js" %}"></script>
  <script src="{% static "vendors/pnotify/dist/pnotify.buttons.js" %}"></script>
  <script src="{% static "vendors/pnotify/dist/pnotify.nonblock.js" %}"></script>

  <!-- Custom Theme Scripts -->
  <script src="{% static "build/js/custom.min.js" %}"></script>

  <script type="text/javascript">
    $( document ).ready(function() {
      {% if error %}
      (new PNotify({
        title: 'Error!!!',
        text: '{{error}}',
        type: 'error',
        styling: 'bootstrap3'
      }));
      {% endif %}
      console.log( "ready!" );
    });
  </script>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
    
            <form action="{% url 'user_login' %}" method="POST">
              <h1>Login</h1>
              {% csrf_token %}
              <div>
                <input type="email" name='username' class="form-control" placeholder="E-mail" required="" />
              </div>
              <div>
                <input type="password" name='password' class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <button type="submit" class="btn btn-success">Iniciar sesion</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                  <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-users"></i>REDVILAGRO MEMBERSHIP</h1>
                  <p>©2020 All Rights Reserved. Redvilagro - Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        
          </div>
    </div> 
  </body>
  </html>
