{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redvilagro &mdash; Membresia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!--<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    <!-- Bootstrap -->
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static "vendors/animate.css/animate.min.css" %}" rel="stylesheet">

  <!-- jQuery -->
  <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
  <!-- Bootstrap -->
  <script src="{% static "vendors/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
 
    <!-- PNotify -->
    <link href="{% static "vendors/pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static "vendors/pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static "vendors/pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
 
  <!-- PNotify -->
  <script src="{% static "vendors/pnotify/dist/pnotify.js" %}"></script>
  <script src="{% static "vendors/pnotify/dist/pnotify.buttons.js" %}"></script>
  <script src="{% static "vendors/pnotify/dist/pnotify.nonblock.js" %}"></script>

  <script type="text/javascript">
    $( document ).ready(function() {
      {% if titulo %}
      (new PNotify({
        title: '{{titulo}}',
        text: '{{mensaje}}',
        type: 'info',
        styling: 'bootstrap3'
      }));
      {% endif %}
      {% if error %}
      (new PNotify({
        title: '{{error}}',
        text: '{{mensaje}}',
        type: 'error',
        styling: 'bootstrap3'
      }));
      {% endif %}
      console.log( "ready!" );
    });
  </script>

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <!--<span class="sr-only">Loading...</span>-->
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-3 col-xl-4  d-block">
            <h1 class="mb-0 site-logo">Redvilagro<span class="text-primary">.</span> </h1>
          </div>

          <div class="col-12 col-md-9 col-xl-8 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                <li><a href="#home-section" class="nav-link">Inicio</a></li>
                <li><a href="#features-section" class="nav-link">Referidos</a></li>
                <li><a href="#blog-section" class="nav-link">Beneficios</a></li>
                {% if libres  > 0 %}
                <li><a href="#contact-section" class="nav-link">Anexar referido</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    

    <div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
            
            <img src="{% static "images/undraw_investing_7u74.svg" %}" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <p class="mb-5">{{user.email}}</p>
                <div>
                  <a href="{% url 'user_logout' %}" class="btn btn-primary mr-2 mb-2">Cerrar sesion</a>
                </div>
              </div>
              
              
            </div>

          </div>
        </div>
      </div>
    </div>  


    <div class="site-section" id="features-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
          <div class="col-7 text-center  mb-5">
            <h2 class="section-title">Referidos</h2>
            <p class="lead">Anexados: {{anexados}} |	Por verificar:{{verificados}} |	Libres: {{libres}}</p>
          </div>
        </div>
        <div class="row align-items-stretch">
          {% for r in referraled %}
					
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                {% if r.is_verify %}
                <span class="icon-wrap"><span class="text-primary icon-check-square"></span></span>
                {% else %}
                <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
                {% endif %}
              </div>
              <div>
                <h3>{{r.user.first_name}} {{r.user.last_name}}</h3>
                <p>{{r.promotion.name}}</p>
                <p>{{r.user.date_joined|date:"M d, Y" }}</p>
              </div>
            </div>
          </div>

          {% endfor %}          
        </div>
      </div>
    </div>
    
    
    <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Beneficios</h2>
          </div>
        </div>

        <div class="row">
        {% for b in member_benefits %}
					  
					<div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="{% static "images/img_2.jpg" %}" alt="Image" class="img-fluid">
              <h2>{{ b.benefit.name}}</h2>
              <div class="meta mb-4">{{ b.benefit.name}} <span class="mx-2">&bullet;</span> {{b.date|date:"M d, Y" }}<span class="mx-2">&bullet;</span></div>
              <p>{{ b.benefit.description }}</p>
              <p><!--<a href="#">Continue Reading...</a>--></p>
            </div> 
          </div>
          
        {% endfor%}
        </div>
        <div class="row">
        {% for b in benefits %}
					{% if forloop.counter0|divisibleby:3 %}
            
					{% endif %}
					<div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="{% static "images/img_2.jpg" %}" alt="Image" class="img-fluid">
              <h2>{{ b.benefit.name}}</h2>
              <div class="meta mb-4">{{ b.benefit.name}} <span class="mx-2">&bullet;</span> Activo<span class="mx-2">&bullet;</span></div>
              <p>{{ b.benefit.description }}</p>
              <p><!--<a href="#">Continue Reading...</a>--></p>
            </div> 
          </div>
          
          {% endfor%}
        </div>
      </div>
    </div>
    {% if libres > 0 %}
    <div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3 text-white">Anexar referido</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            

            <form action="{% url  'member' %}" method="POST" enctype="multipart/form-data" class="p-5 bg-white">
              {% csrf_token %}
              <h2 class="h4 text-black mb-5">Referido</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Nombre</label>
                  <input type="text" name="fname" class="form-control rounded-0">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Apellido</label>
                  <input type="text" name="lname" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" name="email" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <div class="form-group">
                  <label class="text-black" for="subject">Promocion</label> 
                  <select id="promotion" name="promotion" class="form-control">
                    {% for p in promotions %}
                    <option value="{{p.id}}">{{p.name}}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>
              </div>

              
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Enviar" class="btn btn-primary mr-2 mb-2">
                </div>
              </div>

  
            </form>
          </div>
        
        </div>
        
      </div>
    </div>
    {% endif %}

    <div class="footer py-5 text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
              <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
              <a href="#" class="p-3"><span class="icon-pinterest"></span></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .site-wrap -->

  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "js/jquery-ui.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.countdown.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "js/jquery.sticky.js" %}"></script>

  
  <script src="{% static "js/main.js" %}"></script>
  
  </body>
</html>
