{% extends "dashboard.html" %}     
{% block encabezado %}
<style type="text/css" class="init"> 
</style>
  {% endblock %}
       {% block content %}
        <!-- page content -->
        <div>
          <p id='events'></p></div>
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{benefit.name}} <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Descripcion: {{benefit.description}}<small> </small></h2>
                    <div class="col-md-6">
                    
                    </div>
                  <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="  invoice-header">
                          <h1></h1>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="x_content">

                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Por incluir</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Incluidos</a>
                          </li>
                          
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form action="{% url 'promotions_benefit' id %}" method="POST">
                              {% csrf_token %}
                              <input type="hidden" id="seleccion" name="seleccion">
                              <div class="btn-group">
                               <button class="btn btn-secondary" type="submit">Asignar</button>
                              </div>
                            </form>
                            <div class="table-responsive">
                              <table id="table_member" class="display" style="width:100%">
                                <thead>
                                  <tr class="headings">
                                    <th class="column-title">Id </th>
                                    <th class="column-title">Nombre </th>
                                    <th class="column-title">Numero de referidos </th>
                                  </tr>
                
                                </thead>
                
                                <tbody>
                                  {% for m in promotions %}
                                  <tr class="even pointer">
                                    <td class=" ">{{m.id}}</td>
                                    <td class=" ">{{m.name}}</td>
                                    <td class=" ">{{m.number_ref}}</td>
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="table-responsive">
                              <table id="table_member_active" class="display" style="width:100%">
                                <thead>
                                  <tr class="headings">
                                    <th class="column-title">Id </th>
                                    <th class="column-title">Nombre </th>
                                    <th class="column-title">Numero de referidos </th>
                                  </tr>
                
                                </thead>
                
                                <tbody>
                                  {% for mb in promotions_benefits %}
                                  <tr class="even pointer">
                                    <td class=" ">{{mb.promotion.id}}</td>
                                    <td class=" ">{{mb.promotion.name}} </td>
                                    <td class=" ">{{mb.promotion.number_ref}}</td>
                                    </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          
                        </div>
                      </div>                  
                      <!-- Table row -->
                      <div class="row">
                        
                      </div>
                      <!-- /.row -->

                      
                      <!-- this row will not appear when printing -->
                      
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
{% block documentready %} 
<script type="text/javascript">
$(document).ready(function() {
  var arreglo = [];
  var table = $('#table_member').DataTable( {
      select: {
            style: 'multi'
        }
  } );
  
  table
      .on( 'select', function ( e, dt, type, indexes ) {
          var rowData = table.rows( { selected: true } ).data().toArray();
          var arreglo = [];
          rowData.forEach(element => arreglo.push(element[0]));
          $('#seleccion').attr('value',(arreglo.join('*')));
      } )
      .on( 'deselect', function ( e, dt, type, indexes ) {
        var rowData = table.rows( { selected: true } ).data().toArray();
          var arreglo = [];
          rowData.forEach(element => arreglo.push(element[0]));
          $('#seleccion').val(arreglo.join('*'));
      } );
} );
</script>
{% endblock %}
