{% extends "dashboard.html" %}        
       {% block content %}
        <!-- page content -->
        <form  action="{% url 'promotions_cutoffdate' id %}" method="POST">
          {% csrf_token %}

        
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{cutoff.cutoffdate}}<small></small></h3>
                
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small> </small></h2>
                    <div class="col-md-6">
                    <div class="btn-group">
                      <button class="btn btn-secondary" type="submit">Guardar</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="  invoice-header">
                          <h1></h1>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="x_content">

                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Promociones</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="table-responsive">
                              <table id="table_id" class="display" style="width:100%">
                                <thead>
                                  <tr class="headings">
                                    <th class="column-title">Fecha </th>
                                    <th class="column-title">Inversiones</th>
                                  </tr>
                                </thead>
                
                                <tbody>
                                  {% for m in promotions %}
                                  <tr class="even pointer">
                                    <!--<td class=" ">{{m.id}}</td>-->
                                    <td class=" ">{{m.promotion.name}}</td>
                                    <td>
                                      <input type="number" id="inversion{{m.id}}" name="inversion{{m.id}}" min="0" step="1" value={{m.inversion}} data-bind="value:inversion{{m.id}}" />
                                    </td>
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          
                        </div>
                      </div>                  
                      <!-- Table row -->
                      <div class="row">
                        
                      </div>
                      <!-- /.row -->

                      
                      <!-- this row will not appear when printing -->
                      
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
        
        {% block documentready %}
        <script type="text/javascript">
        $(document).ready( function () {
        $('#myDatepicker2').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        {% if titulo %}
        (new PNotify({
          title: '{{titulo}}',
          text: '{{mensaje}}',
          type: 'info',
          styling: 'bootstrap3'
        }));
        {% endif %}
        {% if error %}
        (new PNotify({
          title: '{{error}}',
          text: '{{mensaje}}',
          type: 'error',
          styling: 'bootstrap3'
        }));
        {% endif %}
        $('#table_id').DataTable(
            { 
              language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                  }
            }
          );
        } );
        </script>
    {% endblock %}