{% extends "dashboard.html" %}        
       {% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{promotion.name}} <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Numero de referidos: <small>{{promotion.number_ref}} </small></h2>
                  <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="  invoice-header">
                          <h1></h1>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="x_content">

                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Integrantes</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Beneficios</a>
                          </li>
                          
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="table-responsive">
                              <table id="table_id" class="display" style="width:100%">
                                <thead>
                                  <tr class="headings">
                                    <th class="column-title">Integrante </th>
                                    <th class="column-title">Promocion </th>
                                    <th class="column-title">Referidos </th>
                                    <th class="column-title">Activos </th>
                                    <th class="column-title">Verificado </th>
                                    <th class="column-title">Referido por </th>
                                    <th class="column-title">Acciones</th>
                                  </tr>
                                </thead>
                
                                <tbody>
                                  {% for m in members %}
                                  <tr class="even pointer">
                                    <!--<td class=" ">{{m.id}}</td>-->
                                    <td class=" ">{{m.user.last_name}} {{m.user.first_name}}</td>
                                    <td class=" ">{{m.promotion.name}}</td>
                                    <td class=" ">{{m.referral_counter}}</td>
                                    <td class=" ">{{m.referral_activies}}</td>
                                    <td class=" ">{% if m.is_verify %} <i class="fa fa-check-square-o"></i>{% endif %}</td>
                                    <td class="a-right a-right ">{{ m.referraled_by.user.last_name}} {{ m.referraled_by.user.first_name}}</td>
                                    <td><a href="{% url 'integrante' m.id %}" class="btn btn-primary mr-2 mb-2">Editar</a></td>
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="table-responsive">
                              <table id="table_id2" class="display" style="width:100%">
                                <thead>
                                  <tr class="headings">
                                    <th class="column-title">Nombre </th>
                                    <th class="column-title">Descripcion </th>
                                    <th class="column-title">Es activo </th>
                                    <th class="column-title">Acciones</th>
                                  </tr>
                                </thead>
                
                                <tbody>
                                  {% for b in benefits %}
                                  <tr class="even pointer">
                                    <!--<td class=" ">{{m.id}}</td>-->
                                    <td class=" ">{{b.name}}</td>
                                    <td class=" ">{{b.description}}</td>
                                    <td class=" ">{% if m.is_active %} <i class="fa fa-check-square-o"></i>{% endif %}</td>
                                    <td><a href="{% url 'update_benefit' b.id %}" class="btn btn-primary mr-2 mb-2">Editar</a></td>
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          
                        </div>
                      </div>                  
                      <!-- Table row -->
                      <div class="row">
                        
                      </div>
                      <!-- /.row -->

                      
                      <!-- this row will not appear when printing -->
                      
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
        